@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --blanco: #ffffff;
  --black: #212121;
  --primario: antiquewhite;
  --secundario: #0097a7;
  --gris: #757575;
  --grisclaro: #888686;
}

* {
  box-sizing: border-box;
}

/* HEADER */


/*** Encabeza ***/
.encabeza {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.encabeza h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  color: darkslategrey;
}

/* Contenedor Principal */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 400;
  padding: 0;
  margin: 0;
}

/* Nosotros */

/* Libros */
.foto{
  width: 200px;
  height: 350px;

}
/* Footer */
#footer {
  padding: 50px 0;
  color: #7f7f7f;
  position: relative;
}
#footer .gotop:hover,
#footer .gotop:focus {
  top: -25px;
  text-decoration: none !important;
} */
#footer .copyright {
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0;
}
.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover,
.social li a:active,
.social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #c80c0f;
  color: #fff;
}
.social li a.social-circle {
  background: #c80c0f;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #c80c0f;
  color: #fff;
}
.social.social-circle a {
  background: #c80c0f;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}


/* Formulario*/

.formulario {
  background-color: var(--grisclaro);
  width: min(60rem, 100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 2rem;
}
.formulario fieldset {
  border: none;

}
.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--blanco);
  
}
.campos {
  margin-bottom: 1rem;

}
.campos label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: .5rem;
  display: block;

}
.campos textarea {
  height: 18rem;
}
.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
  resize: none;
}

.formulario__label {
  display: block;
  cursor: pointer;
}

.form-control {
  box-shadow: none;
  background: #fff;
  border: 2px solid rgba(235, 233, 233 0.4);
  border-radius: 3px;
  height: 54px;
  line-height: 54px;
  transition: .3s ease all;
  font-size: 18px;
  font-weight: 400;

}
.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
  border-color: #0075ff;
}

.form-control-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.form-control-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 18px;
  z-index: 100px;
  opacity: 0;
}

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #F66060;
  padding: 0px 15px;
  border-radius: 3px;
  display: none;
}

.formulario__mensaje-activo {
  display: block;
}

.formulario__mensaje p {
  color: #000;
}

.formulario__mensaje-exito {
  color: #119200;
  display: none;
}

.formulario__mensaje-exito-activo {
  display: block;
}

.form-group-correcto .formulario__validacion-estado {
  color: #1ed1d2;
  opacity: 1;
}

.form-group-incorrecto .formulario__label {
  color: #bb2929;
}

.form-group-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.form-group-incorrecto .form-control {
  border: 3px solid #bb2929;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input-error {
  font-size: 14px;
  margin-bottom: 0px;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.btn {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

#fh5co-contact {
  padding-bottom: 0;
}
#fh5co-contact .fh5co-contact-info {
  padding: 0;
  margin: 0 0 1.5em 0;
}
#fh5co-contact .fh5co-contact-info li {
  position: relative;
  padding: 0;
  margin: 0 0 1.5em 0;
  padding-left: 50px;
  list-style: none;
}
#fh5co-contact .fh5co-contact-info li i {
  position: absolute;
  top: 0.2em;
  left: 0;
}

.ir-arriba {
  display: none;
  padding: 20px;
  background: #c80c0f;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
/* Media Querys */

@media (min-width: 768px) {
  .contenedor-campos {
    display: grid;
    /**le das orden a la pagina**/
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
  }
  .campos:nth-child(3),
  .campos:nth-child(4) {
    grid-column: 1 / 3;
  }
  
}
